@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --font: "Bebas Neue", sans-serif;
  --color-1: #705549;
  --color-2: #46383c;
  --color-3: #29232e;
  --color-4: #191922;
  --color-5: #0f0e12;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  height: 100vh;
}

.main {
  position: relative;
  overflow: hidden;
  background-color: var(--color-4);
  height: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
}

.aside {
  background-color: var(--color-4);
  position: relative;
  z-index: 1;
}

.draggable-div {
  position: absolute;
  z-index: 9;
  text-align: center;
  border: 1px solid white;
  top: 0;
  left: 400px;
}

.draggable-header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: var(--color-2);
}
.draggable-header p {
  font-family: var(--font);
  font-size: 1.7em;
}

.draggable-div ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--color-1);
  height: 100px;
  width: 500px;
  overflow-x: scroll;
}
.draggable-div ul li {
  padding: 0 10px;
}

.draggable__li {
  display: flex;
  align-items: center;
  transition: all ease-in-out .2s;
}
.draggable__li input {
  position: absolute;
  opacity: 0;
}
.draggable__li img {
  height: 70px;
}
.draggable__li:hover {
  background-color: #46383c;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.204);
}

.draggable-header-inside {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 20px;
}
.draggable-btn, .draggable-btn2 {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: 0;
  font-size: 2em;
  cursor: pointer;
}
.draggable-btn2 {
  left: 0;
  right: inherit;
  font-size: 1.4em;
}

.framework__ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  height: 300px;
  overflow-y: scroll;
}

.framework__li img {
  height: 70px;
}

.aside__form input{
  width: 100%;
  height: 40px;
  font-size: 1.1em;
  padding: 0 10px;
  background-color: var(--color-3);
}
.aside__form-title {
  font-family: var(--font);
  text-align: center;
  padding: 4px 0;
  font-size: 1.9em;
}

.aside__form2 {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.aside__form2 button {
  width: 30%;
  background-color: var(--color-2);
  border: 0;
  font-size: 1.3em;
  font-family: var(--font);
  cursor: pointer;
  transition: all ease-in-out .2s;
}
#select__asi {
  width: 100%;
  height: 40px;
  font-size: 1.3em;
  font-family: var(--font);
  border: 0;
  background-color: var(--color-3);
}
.aside__form2 button:hover {
  background-color: var(--color-1);
}